asgiref==3.8.1
click==8.1.7
colorama==0.4.6
crispy-bootstrap5==2024.10
cssbeautifier==1.15.1
Django==5.1.1
django-crispy-forms==2.3
django-extensions==3.2.3
djlint==1.36.1
EditorConfig==0.12.4
graphviz==0.20.3
jsbeautifier==1.15.1
json5==0.9.28
pathspec==0.12.1
pydot==3.0.2
pyparsing==3.2.0
PyYAML==6.0.2
regex==2024.11.6
ruff==0.7.3
six==1.16.0
sqlparse==0.5.1
tqdm==4.67.0
