{% extends 'base.html' %}

{% block content %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
    <h2>Are you sure you want to create a new feedback process?</h2>
    
    <p>Click the button below to create a feedback process for you.</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Create Feedback Process for Q4</button>
    </form>
{% endblock %}