{% extends 'base.html' %}

{% block content %}
{% if messages %}
  <div class="messages" role="alert" aria-live="assertive">
    <ul>
      {% for message in messages %}
        <li class="message {{ message.tags }}">
          <strong>{% if message.tags %}{{ message.tags|capfirst }}:{% endif %}</strong> {{ message }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

    <h2>Are you sure you want to create a new feedback process?</h2>
    
    <p>Click the button below to create a feedback process for you.</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Create Feedback Process for Q4</button>
    </form>
{% endblock %}