{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2 class="mt-4">{% block page_title %}Edit Your Profile{% endblock %}</h2>
    
  {% include 'messages.html'%}

    <form method="POST">
      {% csrf_token %}

      <fieldset class="mt-4">
        <legend class="w-auto">Profile Information</legend>

        <div class="row justify-content-start">
          <div class="col-md-6">
            {{ form|crispy }}
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Save Profile</button>
      </fieldset>
    </form>
  </div>
{% endblock %}
