{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
  <h1>Edit Your Profile</h1>

  {% if messages %}
  <div class="messages" role="alert" aria-live="assertive">
    <ul>
      {% for message in messages %}
        <li class="message {{ message.tags }}">
          <strong>{% if message.tags %}{{ message.tags|capfirst }}:{% endif %}</strong> {{ message }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}


  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }} 
    <button type="submit">Save Profile</button>
  </form>
{% endblock %}
