{% extends "base.html" %}

{% block content %}
    <h2>Select a Reviewer</h2>
    {% if messages %}
    <div class="messages" role="alert" aria-live="assertive">
      <ul>
        {% for message in messages %}
          <li class="message {{ message.tags }}">
            <strong>{% if message.tags %}{{ message.tags|capfirst }}:{% endif %}</strong> {{ message }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

    <form method="POST">
        {% csrf_token %}
        
        <label for="reviewer">Select a Reviewer:</label>
        <select name="reviewer" id="reviewer">
            {% for reviewer in potential_reviewers %}
                <option value="{{ reviewer.id }}">{{ reviewer.user.username }}</option>
            {% endfor %}
        </select>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}
