
{% extends 'base.html' %}
{% block title %}Select a Reviewer{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Select a reviewer</h2>

{% include 'messages.html'%}

<form method="post">
  {% csrf_token %}
  <fieldset >
    <div class="row justify-content-start">
      <div class="col-md-6">
        <div class="mt-4">
        <select name="reviewer" id="reviewer" class="form-select">
            {% for reviewer in potential_reviewers %}
                <option value="{{ reviewer.id }}">{{ reviewer.user.username }}</option>
            {% endfor %}
        </select>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Select reviewer</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
{% endblock %}