{% extends "base.html" %}
{% block content %}
    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Manager</th>
                <th>Reviewers</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.user.username }}</td>
                    <td>{{ user.user.first_name }}</td>
                    <td>{{ user.user.last_name }}</td>
                    <td>{{ user.user.email }}</td>
                    <td>{{ user.department }}</td>
                    <td>{{ user.manager }}</td>
                    <td>
                        {% if user.reviewers %}
                            {{ user.reviewers|join:", " }}
                        {% else %}
                            No reviewers assigned
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No users found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


